.highlight {
  font-weight: bold;
  padding: 0 2px;
}

.highlight.yellow {
  background-color: yellow;
}

.highlight.pink {
  background-color: pink;
}

.highlight.lightblue {
  background-color: lightblue;
}
